   /* MODERN APP ZOOM */
body {
    animation: zoomIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: center top;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0.96);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

body.page-exit {
    animation: zoomOut 0.2s ease-in forwards;
    pointer-events: none;
    transform-origin: center top;
}

@keyframes zoomOut {
    to {
        opacity: 0;
        transform: scale(1.02);
    }
}